body {
    background-color: lightgray;
}

#carouselExampleIndicators {
    height: 400px;
}

.d-block {
    height: 400px;
}

#intro {
    background-color: grey;
    color: white;
}

#footer {
    background-color: grey;
    color: white;
    /* height: 200px; */
    /* padding-top: 20px;
    padding-bottom: 20px; */
}